h1 {
	color: #485B73;
}

body {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 75px;
    // background-color: #1D2840;
   	background-color: Linen ;
}

table {
	width: 100%;
}

p {
	font-size: 13pt;
}

input[type="radio"] {
		margin-right: 10px;
}

#test-message-1 {
	text-align: center;
}

#test-message-2 {
	text-align: center;
	font-weight: bold;
	font-size: 16pt;
}

.PseudoLoc {
}

.PseudoLoc.brackets {
	background-color: Magenta;
}

.PseudoLoc.textExpansion {
	background-color: #D5E6DD;
}

#contentBoxFrame {
	width: 90%;
}

#contentBoxTitleBar {
	height: 20px; 
	margin-bottom: 0px; 
	background-color: #485B73;
	border: 1px solid gray;
	text-align: center;
	font-size: 14pt;
}

#contentBox {
	border: 0px solid gray;
	height: 280px;
	line-height: 1.75; 
	padding-left: 25px;
	padding-right: 30px;
	padding-top: 25px;
	padding-bottom: 50px;
	margin-top: 0px;
	// background-color: #D0D9C7;
	background-color: Snow;
	margin-bottom: 20px;
}

#contentBoxTitleBar:hover {
	border-width: 1px;
	padding-left: 10px;
}

#inputForm {
	// background-color: #D0D9C7;
	background-color: Snow;
	width: 60%;
	padding-top: 5px;
	padding-left: 25px;
	padding-bottom: 25px;
	margin-bottom: 20px;
	border-radius: 5px;
	opacity: 0.90;
}

.fieldLabel {
	font-weight: bold;
	width: 50%;
}

.placeholder {
	border-radius: 15px;
	border-style: dotted;
	border-width: 1px;
	padding: 2px 2px 2px 2px;
}

